 
body {
    color:rgb(63, 63, 141);
    background-color: #c3d0f1;
    
}
/* Changed this section to header section*/
/*below CSS was also organized so it matches up with the structure of the HTML*/
 
header {
    display: flex;
    /*padding: 20px;*/
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    background-color: rgb(33, 33, 77);
    color: rgb(33, 33, 77);
    color: 21,21,4d;
}

 
header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
 
a:link{
    text-decoration: underline;
}
/*header nav ul {
    list-style-type: none;
}*/

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
 
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
 
a {
    color: rgb(111, 127, 180);
    text-decoration: none;
}
 
 
/* Kept the hero section here with a placeholder for a hero( image is still there)*/
.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;

    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;*/

    background-image: url("../images/mc-desktop-hero.jpg");
    background-size: cover;
    background-position: center;
    
}
 


.hero h2 {
    
    position:absolute;
    right: 10px;
    top: 270px;
    /*bottom: 20px;*/
    text-align: center;
    background-color: rgb(111, 127, 180);
    color: rgb(33, 33, 77);
    text-decoration: none
}


.hero img {
max-height: 200px;
float: right;
}

.Work-div {
    float: left;
}

.Work-Class {
 display: Flex;
 flex-direction: column;
}


.Work-Class-Images {
   
    /*border-image: url("./assets/IMAGES/Run-Buddy-Screenshot.jpg")  3 3 3 3 solid #2a607c*/
    border-color: black;
    border-width: thick;
}


.thumbnailRB:hover {
    position:relative;
    top:-15px;
    left:-25px;
    width:800px;
    height:auto;
    display:inline-block;
    z-index:999;
}

.thumbnail:hover {
    position:relative;
    top:-15px;
    left:-25px;
    width:400px;
    height:auto;
    display:inline-block;
    z-index:999;
}
.Contact-Me-links {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    list-style: none;

}

.Contact-Me-Links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
 
.Contact-Me ul li {
    display: inline-block;
    margin-left: 25px;
}